[submodule "doom-emacs/.emacs.d"]
	path = doom-emacs/.emacs.d
	url = https://github.com/hlissner/.emacs.d
	branch = develop
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:yuanl/emacs.d.git
[submodule "centaur-emacs/.emacs.d"]
	path = centaur-emacs/.emacs.d
	url = git@github.com:yuanl/.emacs.d.git
[submodule "fzf/.fzf"]
	path = fzf/.fzf
	url = https://github.com/junegunn/fzf.git
